@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     font-family: Poppins;
     background: #0f0f10;
     color: #fff;
}

input,
textarea {
     color: #000;
}

select option {
     color: black;
}